<footer th:fragment="footer" class="mt-auto py-5 bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <p class="text-muted">PCBuildPrototype is a one-stop-shop that
                    aggregates PC parts and components from shops all over the Philippines,
                    giving you the best options locally.</p>
                <h2><a href="#" class="text-white">PCBuildPrototype</a></h2>
                <p class="menu">
                    <a href="#" class="mx-1 text-muted">Facebook</a>
                    <a href="#" class="mx-1 text-muted">Twitter</a>
                    <a href="#" class="mx-1 text-muted">Instagram</a>
                    <a href="#" class="mx-1 text-muted">About</a>
                </p>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <p class="text-white">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>