<div th:fragment="homeNavbar">
    <nav class="navbar sticky-top navbar-main">
        <div class="container-fluid">
            <div class="flex-grow-0">
                <img class="navbar-logo" src="icon_pcbuildprototype.svg"/>
                <a class="navbar-brand" href="home">PCBuildPrototype</a>
            </div>
            <div class="d-flex">
                <a class="mx-2 .text-white" href="about">About</a>
                <a class="mx-2 .text-white" href="cart">Cart</a>
                <a class="mx-2 .text-white" href="login.html">Logout</a>
            </div>
        </div>
    </nav>
    <nav class="navbar sticky-top navbar-sub">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="mx-2 text-white" href="home">Home</a>
                <a class="mx-2 text-white" href="#">Top-sellers</a>
                <a class="mx-2 text-white" href="#">Categories</a>
                <a class="mx-2 text-white" href="#">Shops</a>
                <a class="mx-2 text-white" href="#">Components</a>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>