<!-- Start Header -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--Begin Header-->
<div th:replace="fragments/header.html :: header"></div>

<body>
<title>Shop</title>

<div th:replace="fragments/navbars.html :: homeNavbar"></div>

<div class="container-fluid">

    <h1>
        Cart for <span th:text="${user.firstName}">John</span>
        <span th:text="${user.lastName}">Doe</span>,
        UID#<span th:text="${user.userId}">69420</span>
    </h1>
    <div th:if="${cartExceptionMessage}" class="alert alert-danger">
        <h2 th:text="${cartExceptionMessage}">Error message goes here.</h2>
    </div>
    <div class="row">
        <div class="col-md">
            <h2>Shopping Cart Items</h2>
            <table class="table table-bordered" id="cart_table">
                <tr>
                    <th>Component</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Shop</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>

                <tr th:id="${entry.key.itemId}" th:each="entry : ${cart}">
                    <td th:text="${entry.key.component}">${item.component}</td>
                    <td th:text="${entry.key.brand}">${item.brand}</td>
                    <td th:text="${entry.key.model}">${item.model}</td>
                    <td th:text="${entry.key.shop}">${item.shop}</td>
                    <td th:text="${entry.key.price}">${item.price}</td>
                    <td th:text="${entry.value}">${item.quantity}</td>
                    <td>
                        <form action="cart" method="post">
                            <input type="hidden" name="itemId" th:value="${entry.key.itemId}"/>
                            <input type="hidden" name="userAction" th:value="cancel"/>
                            <input class="btn" type="submit" value="Cancel"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- Start Footer -->
<div th:replace="fragments/footer.html :: footer"></div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>
<!-- End Footer -->